        p {
        color:black;
        }
        body {
          background-color:white;
        }
          input {
            text-align: center;
            border-width:2px;
            border-color:black;
          }
          h2 {
            color: black;
          }
          a {
            color: black;
          }
          h1 {
            color: black;
          }
